.footballer-data {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(0);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 50vh;
  width: 100%;
  background-color: whitesmoke;
  transition: all 1s ease-in-out;
  color: black;
  z-index: 40;
  border-radius: 10px;
  font-size: 12px;
}

.form-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footballer-data form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 10px;
}

.footballer-data form input,
.footballer-data form select,
.footballer-data form fieldset {
  margin-bottom: 20px;
}

.footballer-data.close {
  transform: translateY(-110%);
}

.footballer-data header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: whitesmoke;
  color: black;
  border-bottom: solid 2px black;
  padding: 15px 10px;
}

.footballer-data-heading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  letter-spacing: 1px;
}

.fotballer-data-form-btn {
  width: 150px;
}

@media (min-width: 450px) {
  .form-item {
    width: 85%;
  }
}

@media (min-width: 520px) {
  .form-item {
    width: 75%;
  }
}

@media (min-width: 600px) {
  .footballer-data {
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    min-height: 60vh;
    width: 510px;
  }

  .form-item {
    width: 85%;
  }

  .footballer-data.close {
    display: none;
  }
}

@media (min-width: 700) {
  .form-item {
    width: 60%;
  }
  .footballer-data {
    width: 600px;
  }
}

@media (min-width: 800px) {
  .form-item {
    width: 50%;
  }
  .footballer-data {
    width: 720px;
  }
}

@media (min-width: 1000px) {
  .form-item {
    width: 40%;
  }

  .footballer-data {
    width: 870px;
  }
}

@media (min-width: 1200px) {
  .form-item {
    width: 35%;
  }
  .footballer-data {
    width: 1000px;
  }
}

@media (min-width: 1350px) {
  .form-item {
    width: 30%;
  }

  .footballer-data {
    width: 85vw;
  }
}

.footballer-data fieldset li {
  display: flex;
  align-items: center;
}

.footballer-data fieldset li input {
  margin: 0;
}
